html {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: black;
}

header .logo {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10px;
}

.logo img {
  height: 50px;

}

header nav {
  display: inline-flex;
  position: relative;
  align-items: center;
  width:380px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  margin-right: 10px;
  text-decoration: underline;
}

nav span {
  display: inline-block;
  position: relative;
}

.content {
  display: flex;
  position: relative;
  margin-top: 70px;
  flex-direction: column;
}

.ourmission {
  width: 1200px;
  height:700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");
}

.missiontext {
  position: relative;
  display: flex;
  width: inherit;
  flex-direction: column;
  background-color: black;
  z-index: 5;
}

.missiontext h2, .missiontext h4 {
  margin: 5px;

}
